.blur {
    --animation-time: 150;

    position: fixed;
    z-index: $z-index-blur;
    left: 0;
    top: 0;
    
    width: 100%;
    height: 100%;
    
    background-color: $color-font-base;
    
    visibility: hidden;

    opacity: 0;
    transition: opacity 150ms linear;
    
    &.active {
        opacity: 0.5;
    }

    &.opened {
        visibility: visible;
    }
}