.sidebar {
    grid-column: 5 span / 13;

    @include ph('md-2');
    @include pv('md-1');
    
    background-color: $color-foreground-base;
    
    &-wrapper {
        @extend .container-grid;
        
        position: fixed;
        top: 0;
        left: 0;
        z-index: $z-index-sidebar;

        justify-content: flex-end;

        height: 100%;
        width: 100%;

        visibility: hidden;        

        &.active {
            visibility: visible;
        }
    }

    &__header {
        @include mb('md-1');
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__content {
        overflow: auto;
        -ms-overflow-style: none;  /* IE and Edge */
        scrollbar-width: none;  /* Firefox */

        &::-webkit-scrollbar { display: none; } /* Hide scrollbar for Chrome, Safari and Opera */
    }

    &__info-text {
        position: relative;
        top: 2px;
    }
}

@mixin sidebar--lg {
    .sidebar {
        grid-column: 7 span / 13;
    }
}

@mixin sidebar--md {
    .sidebar {
        grid-column: 9 span / 13;
    }
}

@mixin sidebar--sm {
    .sidebar {
        grid-column: span 12;
    }
}
