.note-sidebar {
    &__image-wrapper {
        @extend .container-aspect;
        @include mb('md-1');

        --aspect-ratio: (2 / 1);

        > img,
        picture {
            max-width: 100%;
            width: revert;
            object-fit: scale-down;
        }
    }
    
    &__title {
        @extend #font-md-2;
        @include mb('md-1');
        display: block;
    }

    &__paragraph {
        @include mb('md-1');

        code {
            background-color: #ff6d6d;
            color: rgb(255 255 255);
            border-radius: 3px;
            // padding: 0 0.55em;
            padding: 0 0.4em;
            padding-top: 0;
            letter-spacing: 0.05em;
            padding-bottom: 0.1em;
            opacity: 0.75;

        }
    }

    &__links-title {
        @extend #font-md-1;
        @include mb('sm-1');
        display: block;
    }

    &__links {
        display: flex;
        flex-direction: column;
    }

    &__link {
        &:not(:last-child) { @include mb('sm-1'); }
    }
}
