@use 'sass:string';

// fonts

@each $font-name, $font-options in $fonts {
    #font-#{$font-name} {
        line-height: map-get($map: $font-options, $key: 'line');
        font-size: string.unquote( map-get($map: $font-options, $key: 'size') );
        font-weight: map-get($map: $font-options, $key: 'weight');
    }
}

@mixin interfaces--sm {
    @each $font-name, $font-options in $fonts--sm {
        #font-#{$font-name} {
            line-height: map-get($map: $font-options, $key: 'line');
            font-size: string.unquote( map-get($map: $font-options, $key: 'size') );
            font-weight: map-get($map: $font-options, $key: 'weight');
        }
    }
}