@use 'sass:math';

$font-family-base: 'Raleway', sans-serif;

$fonts: (
    'xl': (
        'size': math.div(56, 16) + 'rem',
        'line': 1em,
        'weight': 500
    ),
    'lg': (
        'size': math.div(36, 16) + 'rem',
        'line': 1em,
        'weight': 500
    ),
    'md-2': (
        'size': math.div(28, 16) + 'rem',
        'line': 1.25em,
        'weight': 500
    ),
    'md-1': (
        'size': math.div(24, 16) + 'rem',
        'line': 1.5em,
        'weight': 400
    ),
    'base': (
        'size': math.div(18, 16) + 'rem',
        'line': 1.5em,
        'weight': 400
    ),
);

$fonts--sm: (
    'xl': (
        'size': math.div(40, 16) + 'rem',
        'line': 1em,
        'weight': 500
    ),
    'lg': (
        'size': math.div(32, 16) + 'rem',
        'line': 1em,
        'weight': 500
    ),
    'md-2': (
        'size': math.div(24, 16) + 'rem',
        'line': 1.25em,
        'weight': 500
    ),
    'md-1': (
        'size': math.div(20, 16) + 'rem',
        'line': 1.5em,
        'weight': 400
    ),
    'base': (
        'size': math.div(16, 16) + 'rem',
        'line': 1.5em,
        'weight': 400
    ),
);

$spaces: (
    'sm-1': 0.25rem,
    'sm-2': 0.50rem,
    'base': 1.00rem,
    'md-1': 1.50rem,
    'md-2': 3.00rem,
    'md-3': 5.00rem,
    'lg-1': 8.00rem,
    'lg-2': 10.00rem,
    'lg-3': 12.00rem,
);

$spaces--sm: (
    'sm-1': 0.25rem,
    'sm-2': 0.50rem,
    'base': 1.00rem,
    'md-1': 1.50rem,
    'md-2': 1.50rem,
    'md-3': 4.00rem,
    'lg-1': 5.00rem,
    'lg-2': 6.00rem,
    'lg-3': 8.00rem,
);

$colors: (
    'white':      #ffffff,
    'gray':       #D3D3D3,
    'black':      #333333,
    'blue':       #0144ff,
    'light-blue': #e1f2ff,
    'green':      #77dd77,
);

$color-background-base: map-get($map: $colors, $key: 'light-blue');
$color-foreground-base: map-get($map: $colors, $key: 'white');
$color-font-base: map-get($map: $colors, $key: 'black');
$color-font-link: map-get($map: $colors, $key: 'blue');

$breackpoints: (
    "sm": 600px,
    'md': 768px,
    'lg': 1024px,
    'xl': 1200px,
    'xxl': 1600px,
);

$z-index-sidebar: 10;
$z-index-blur: 5;
