.portfolio-item {
    @extend .container-grid;

    @include ph('md-2');
    @include pt('md-2');
    @include pb('md-1');

    background-color: $color-foreground-base;
    border-radius: 12px;
    
    &:not(:last-child) {
        @include mb('md-2');
    }

    &__left-column {
        @include pr('md-2');

        display: flex;
        flex-direction: column;
        grid-column: span 6;
    }

    &__header {
        @include mb('md-1');
    }

    &__link {
        @include mt('sm-2');
        display: inline-block;
    }

    &__published_at_text {
        @include mt('md-1');
    }

    &__footer {
        margin-top: auto;
        display: flex;
        @include pt('md-1');
    }

    &__icon {
        &:not(:last-child) { @include mr('base'); }
    }

    &__right-column {
        grid-column: span 6;
        position: relative;
    }

    &__image {
        object-position: top;

        &-wrapper {
            @extend .container-aspect;
            
            background-color: $color-foreground-base;

            border-style: double;
            border-width: 12px;
            border-color: map-get($map: $colors, $key: 'gray');
            border-radius: 8px;

            &_pc {
                --aspect-ratio: (16 / 9);
                transform: translateY(-10px);
            }
    
            &_mobile {
                @include mr('md-1');

                --aspect-ratio: (375 / 812);

                position: absolute;
                bottom: 0;
                right: 0;
                
                width: 30%;

                transform: translateY(10px);
            }
        }
        
        &-wrapper:hover + &-wrapper { visibility: hidden; }
    }
}

@mixin container--lg {
    .portfolio-item {    
        &__left-column {
            grid-column: span 12;
            padding-right: 0;
        }
        
        &__right-column {
            display: none;
        }
    }
}
